.root
{
    -fx-background-color:#f8ede3;
}
.button 
{
    -fx-background-radius: 15;  
    -fx-border-radius: 15;      
    -fx-border-width: 0;        
    -fx-border-color: transparent; 
    -fx-padding: 8 16;
}

.confirm 
{
    -fx-background-color: #7c688d;
    -fx-border-color: #40394a;
    -fx-border-radius: 15;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.1), 10, 0.0, 2, 2);
}



.card 
{
    -fx-background-color: #fdfbff;
    -fx-background-radius: 15;
    -fx-border-color: #102542;
    -fx-border-radius: 15;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.1), 10, 0.0, 2, 2);
    -fx-padding: 10;
    -fx-alignment: center;
}

.wizard {
    -fx-background-color: #c9ae86;
    -fx-border-color: #a17d50;
}

.wizard Label {
    -fx-text-fill: #5c422b;
}

.wizard:hover {
    -fx-background-color: #bfa178;
}


.cleric {
    -fx-background-color: #aab7df;
    -fx-border-color: #5a6cb0;
}

.cleric Label {
    -fx-text-fill: #2f3f77;
}

.cleric:hover {
    -fx-background-color: #9aa9d0;
}


.druid {
    -fx-background-color: #aad4b2;
    -fx-border-color: #5ea379;
}

.druid Label {
    -fx-text-fill: #2f5c43;
}

.druid:hover {
    -fx-background-color: #98c2a1;
}


.bard {
    -fx-background-color: #d2a5b7;
    -fx-border-color: #944d78;
}

.bard Label {
    -fx-text-fill: #5d2f49;
}

.bard:hover {
    -fx-background-color: #bf95a5;
}


.sorcerer {
    -fx-background-color: #c5b2e0;
    -fx-border-color: #8157b0;
}

.sorcerer Label {
    -fx-text-fill: #4c356d;
}

.sorcerer:hover {
    -fx-background-color: #b4a1cf;
}


.warlock {
    -fx-background-color: #a3d4d4;
    -fx-border-color: #58a5a5;
}

.warlock Label {
    -fx-text-fill: #2e5d5d;
}

.warlock:hover {
    -fx-background-color: #91c2c2;
}


.paladin {
    -fx-background-color: #d8a88e;
    -fx-border-color: #9b5f3f;
}

.paladin Label {
    -fx-text-fill: #4f2f23;
}

.paladin:hover {
    -fx-background-color: #c7977d;
}


.ranger {
    -fx-background-color: #c4d9a2;
    -fx-border-color: #7ca746;
}

.ranger Label {
    -fx-text-fill: #3e5a29;
}

.ranger:hover {
    -fx-background-color: #b3c58f;
}


.sidebar 
{
    -fx-background-color: #f8ede3;
    -fx-padding: 15;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #40394a;
    -fx-border-width: 4px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.08), 8, 0, 2, 2);
}

.spell-info 
{
    -fx-background-color: #f8ede3;
    -fx-background-radius: 15;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 15;
    -fx-padding: 15;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.05), 5, 0.0, 2, 2);
}

.text-field 
{
    -fx-background-color: #f8ede3;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-border-color: #40394a;
    -fx-border-radius: 10;
    -fx-border-width: 1.5;
    -fx-padding: 5 10;
}

.combo-box 
{
    -fx-background-color: #f8ede3;
    -fx-border-color: #40394a;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
}


.add-button 
{
    -fx-background-color: #7c688d;
    -fx-text-fill: #1c1d1d;            
    -fx-background-radius: 15;
    -fx-border-color: #40394a;          
    -fx-border-width: 4px;
    -fx-border-radius: 15;
    -fx-font-size: 16px;
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
    
}


.add-button:hover
{
    -fx-background-color: #725f83;
}

.spell-button
{
    -fx-background-color: #7c688d;     
    -fx-text-fill: #1c1d1d;             
    -fx-background-radius: 15;
    -fx-border-color: #40394a;           
    -fx-border-width: 4px;
    -fx-border-radius: 15;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "Georgia";

}

.brown-button
{
    -fx-background-color: #7c688d;     
    -fx-text-fill: #1c1d1d;             
    -fx-background-radius: 15;
    -fx-border-color: #40394a;           
    -fx-border-width: 4px;
    -fx-border-radius: 15;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "Georgia";

}


.spell-button:hover
{
    -fx-background-color: #725f83; 
}


.brown-button:hover
{
    -fx-background-color: #725f83; 
}


.titled-pane 
{
    -fx-background-color: #7c688d;
    -fx-border-color: #40394a;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.titled-pane .title 
{
    -fx-background-color: #7c688d;
    -fx-background-radius: 10;
    -fx-text-fill: #40394a;
}

.titled-pane .arrow 
{
    -fx-background-color: #40394a;
}

.search-button
{
    -fx-background-color: #7c688d;     
    -fx-text-fill: #40394a;             
    -fx-background-radius: 15;
    -fx-border-color: #40394a;           
    -fx-border-width: 4px;
}

.spell-scroll
{
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: #40394a;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: transparent;
    -fx-border-width: 4px;

}

.spell-scroll .corner
{
    -fx-background-color: transparent;
}


.spell-scroll .viewport 
{
    -fx-background-color: #f8ede3;
    -fx-border-color: transparent;
    -fx-border-radius: 15 0 0 15;
    -fx-background-radius: 15 0 0 15;
}


.spell-scroll .scroll-bar:vertical .thumb
{
    -fx-background-color: #40394a; 
    -fx-background-radius: 6px;
}

.spell-scroll .scroll-bar:vertical .track
{
    -fx-background-color: #f8ede3; 
}

.spell-scroll .increment-button, .spell-scroll .decrement-button

{
    -fx-background-color: #7c688d;  
}


.spell-scroll .increment-arrow, .spell-scroll .decrement-arrow
{
    -fx-background-color: #40394a;  
}

.stat-label 
{
    -fx-background-color: #f8ede3;
    -fx-border-color: #40394a;
    -fx-text-fill: #40394a;
    -fx-border-width: 5px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 10 15;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.06), 5, 0, 2, 2);
}


.main-menu 
{
    -fx-background-color: #f8ede3;
    -fx-padding: 20;
}

.main-menu-title 
{
    -fx-font-size: 40px;
    -fx-font-family: "Georgia";
    -fx-text-fill: #40394a;
    -fx-font-weight: bold;
}

.menu-option 
{
    -fx-background-color: #f8ede3;
    -fx-background-radius: 20;
    -fx-border-color: #40394a;
    -fx-border-width: 7px;
    -fx-border-radius: 20;
    -fx-padding: 10;
    -fx-clip: true;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.menu-option .button 
{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-border-radius: 15;
}

.menu-option .label 
{
    -fx-font-family: "Georgia";
    -fx-font-size: 18px;
    -fx-text-fill: #40394a;
    -fx-font-weight: bold;
    -fx-alignment: center;
}


.menu-option:hover 
{
    -fx-background-color:#ecdfd4;
}
